@charset "UTF-8";

/*
   Paleta de cores
    Azul: #
    Azul 2: #83DBE1
    Azul 3: #00BAC6
    Azul clarinho: #2F9AA8
    Verde escuro: #083F4D
    Verde musgo: #1A545C
    Roxo: #8E00B9
    Roxo escuro: #3E00CF

*/
 
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin:  0px;
    box-sizing: border-box;
}

body, html {
     background-color: #8E00B9;
     height: 100vh;
     width: 100vw;

}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);
    
    transition: width 0.5, height 0.5;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: #49a09d url(../imagens/capybara_azul_sla.png) no-repeat;
    background-size: 100%;
    background-position: 0ch;
    height: 200px;
   
}

section#login > div#formulario{
    display: block;
  padding: 10px;
}